@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Inter", Helvetica, Arial, sans-serif;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
    display: none;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 225 84% 35%;
        --card: 0 0% 100%;
        --card-foreground: 225 84% 35%;
        --popover: 0 0% 100%;
        --popover-foreground: 225 84% 35%;
        --primary: 225 84% 35%;
        --primary-foreground: 0 0% 100%;
        --secondary: 225 100% 98%;
        --secondary-foreground: 225 84% 35%;
        --muted: 225 100% 97%;
        --muted-foreground: 225 20% 55%;
        --accent: 225 100% 95%;
        --accent-foreground: 225 84% 35%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 225 50% 90%;
        --input: 225 50% 90%;
        --ring: 225 84% 35%;
        --radius: 0.75rem;
        --chart-1: 225 84% 35%;
        --chart-2: 225 70% 50%;
        --chart-3: 225 60% 40%;
        --chart-4: 225 90% 45%;
        --chart-5: 225 75% 55%;

        --radius: 0.5rem;
        --sidebar-background: 225 100% 98%;
        --sidebar-foreground: 225 84% 35%;
        --sidebar-primary: 225 84% 35%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 225 100% 95%;
        --sidebar-accent-foreground: 225 84% 35%;
        --sidebar-border: 225 50% 90%;
        --sidebar-ring: 225 84% 35%;
    }
    .dark {
        --background: 225 84% 10%;
        --foreground: 0 0% 100%;
        --card: 225 84% 12%;
        --card-foreground: 0 0% 100%;
        --popover: 225 84% 12%;
        --popover-foreground: 0 0% 100%;
        --primary: 225 100% 90%;
        --primary-foreground: 225 84% 10%;
        --secondary: 225 50% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 225 50% 20%;
        --muted-foreground: 225 30% 70%;
        --accent: 225 50% 25%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 225 30% 25%;
        --input: 225 30% 25%;
        --ring: 225 100% 90%;
        --chart-1: 225 84% 60%;
        --chart-2: 225 70% 65%;
        --chart-3: 225 60% 55%;
        --chart-4: 225 90% 70%;
        --chart-5: 225 75% 65%;

        --sidebar-background: 225 84% 8%;
        --sidebar-foreground: 0 0% 100%;
        --sidebar-primary: 225 84% 60%;
        --sidebar-primary-foreground: 225 84% 10%;
        --sidebar-accent: 225 50% 18%;
        --sidebar-accent-foreground: 0 0% 100%;
        --sidebar-border: 225 30% 22%;
        --sidebar-ring: 225 84% 60%;
    }
}
